<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Page</title>

    <%- include partials/_head.ejs %>

    <!-- Layouts CSS -->
    <link rel="stylesheet" href="/styles/users.css" type="text/css" />

    <!-- Socket IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  </head>

  <body>
    <div class="content">
      <%- include partials/_header.ejs %>

      <main>
        <div class="spacer">
        </div>

        <nav class="games">
          <h3><span class="username"><%= playerName %>'s</span></h3>
          <h3>Game History</h3>
          </nav>
        </nav>

        <table class="history">
          <tr>
            <th>Game</th>
            <th>Game Id</th>
            <th>Start</th>
            <th>End</th>
            <th>Opponents</th>
            <th>Score</th>
          </tr>
          <% if(history) { %>
            <% history.forEach((game, i) => { %>
              <tr>
                <td><%= game.name %></td>
                <td><%= game.id %></td>
                <td><%= game.start_date %></td>
                <td><%= game.end_date %></td>
                <td><%= game.opponents %></td>
                <td><%= game.score %></td>
              </tr>
            <% }); %>
          <% } %>
        </table>
      </main>
    </div>

    <footer class="footer">
      <h6>Created 2017</h6>
    </footer>
  </body>
</html>
